{% extends "base.html" %}

{% block content %}

<div class="section">
    <div class="container pt-5">
        <div class="col-lg-12 mb-5">
            <h2 class="font-weight-bold text-primary heading">
                Detail Properties
            </h2>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        {% if property.images %}
                            {% for image in property.images %}
                            <img src="data:image/jpeg;base64,{{ image.image_data }}" alt="Property Image" class="img-fluid">
                            {% endfor %}
                        {% else %} 
                            <img src="https://via.placeholder.com/300" alt="No Image Available">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <h2 class="heading text-primary">{{ property.title }}</h2>
                <p class="meta text-xl">Location: {{ property.location }}</p>
                <p class="meta text-xl font-weight-bold">Price: {{ property.price|rupiah }}</p>
                <p class="meta text-xl">Date Added: {{ property.date_added }}</p>
                <p class="text-text-xl">{{ property.description }}</p>
            </div>
        </div>
    </div>
    <div class="whatsapp-button" onclick="openWhatsApp()">
        <img src="/static/flaticon/whatsapp.png" alt="WhatsApp Icon">
    </div>
</div>
{% endblock %}